apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
  namespace: exercises
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - port: 5432
      name: postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: exercises
spec:
  serviceName: postgres-headless
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      initContainers:
        - name: init-postgres-data
          image: busybox
          command: ["sh", "-c", "mkdir -p /mnt/data && chmod 700 /mnt/data"]
          volumeMounts:
            - name: postgres-data
              mountPath: /mnt/data
      containers:
        - name: postgres
          image: postgres:18.1-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "pingpong"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
          volumeMounts:
            - name: postgres-data
              mountPath: /pgdata
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        storageClassName: local-path
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 500Mi
