apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: log-output-volume
          emptyDir: {}
      containers:
        - name: log-output-reader
          image: log-output:reader
          imagePullPolicy: Never
          volumeMounts:
            - name: log-output-volume
              mountPath: /opt/logger
        - name: log-output-writer
          image: log-output:writer
          imagePullPolicy: Never
          volumeMounts:
            - name: log-output-volume
              mountPath: /opt/logger